{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@4.0.1/destyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=edit" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="inner">
            <nav>
                <ul>
                    <a href=""><li>ホーム</li></a>
                    <a href="#"><li>進捗</li></a>
                    <a href="#"><li>マイページ</li></a>
                </ul>
            </nav>

            <div class="create">
                <a href="{% url "add" %}"><span class="material-symbols-outlined">edit</span></a>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>