$breakpoints: (
    'sp': 'screen and (max-width: 1000px)',
    'pc': 'screen and (min-width: 1001px)',
    ) !default;

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

$success: #198753;
$danger: #dc3444;
$primary: #0c6dfd;
$warning: #ffc007;
$primary-color: $primary;
$primary-color-light: lighten($primary, 20%
);

$text-color: #333;
$text-color-light: #4a4a4a;

$font: 'TT Norms Pro',
    "LINE Seed JP",
    "Helvetica Neue",
    Arial,
    Poppins,
    "Noto Sans JP",
    sans-serif;