@import "variables";

h1 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 40px 20px;
}

.tasklist {

    .task-item {
        padding: 10px;
        border: 2px solid #333;

        h3 {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            margin: 20px 0 40px 0;
        }
    }
}

.charactor {
    height: 70vh;
    background-color: #92a6ff;

    .chara_name {
        background-color: #fff;
        border-radius: 0 0 99px 99px;
        padding: 10px 15px;
        width: 100%;
        margin: 0 auto;
    }

    img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}