@import "variables";

body {
    color: #333;
}

header {
    padding: 20px;
    width: 100%;
    background-color: #333;
    color: #fff;

    .inner {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        align-items: center;
        font-size: 1rem;

        nav {
            margin-right: auto;

            ul {
                display: flex;
                gap: 40px;
            }
        }
    }
}

main {
    max-width: 1000px;
    margin: 0 auto;
}